#title {
  color: #fffbe9;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1C658C;
  text-align: center;
}

.container-fluid {
  padding: 4% 15% 0% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  font-size: 1.5rem;
}

.row {
  padding: 2% 15% 5% 15%;
}

.planb-img {
  height: 21rem;
  padding-bottom: 2rem;
}

.backup-img {
  height: 10rem;
  margin-top: 8rem;
  margin-bottom: 2.4rem;
  padding-bottom: 2rem;
}

.EC-img {
  height: 18rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  padding-bottom: 2rem;
}

.product-name {
}

.product-name:hover {
  color: #ad8b73;
  cursor:pointer;
}

.product-description {
  padding-bottom: 8rem;
}

ol {
  text-align: left;
}

#list-of-products {
  background-color: #D8D2CB;
}
